.asset-toolbar md-toolbar{
    min-height: 30px;
}

.custom-btn{
    border: 2px solid #4CAF50;
    border-radius: 2px;
    padding: 10px 24px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.custom-btn:hover{
     background-color: #4CAF50; /* Green */
    color: white;
}
